.new-training{
    width: 300px;
    padding: 0px;
    position: fixed;
    top: 45%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

.start-training-button {
    margin-top: 5px;
    margin-bottom: 3px;
    width: 200px;
    background-color: rgb(58, 148, 64);
    color: rgb(248, 246, 246);
}

mat-toolbar {
    background-color: rgb(32, 30, 31);
    color: aliceblue;
}

mat-card-content{
    margin-top: 10px;
}