
.banner {
    height: 100vh;
    background-image: url("/assets/banner.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
}

.banner::after {
    content: '';
    background-color: rgb(0,0,0,0.6);
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
}

.banner-content {
    font-size: 25px;
    color: white;
    position: relative;
    z-index: 1;
}

mat-toolbar {
    font-size: 15px;
    padding: 3px;
}