a {
    text-decoration: none;
    color: white;
}

a:hover, 
a:active {
    color: lightgrey;
}

li {
    padding: 5px;
}

.navigation-items {
    list-style: none;
    padding: 0;
    margin:0;
}
.logo {
    margin-top: 3px;
    width: 20px;
    height: 23px;
}